@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EBF8FF;
  --foreground: #004467;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #004467;
    --foreground: #EBF8FF;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}